#nameValue {
  background-color: transparent;
  border: 1px solid black;
}
.greetings-btn {
  margin-left: 10px;
  background-color: #ff0000;
  border: 1px solid black;
}
.greetings-output {
  color: brown;
}
